.dplFlxRwNwrJcBtwn {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.dplFlxRwNwrJcGp20 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2px;
  margin-top: 10px;
  cursor: pointer;
}
.educationItemContainerInfo {
  margin-top: 20px;
}
.educationItemContainerP {
  margin: 0;
  font-size: 20px;
}
.imageDiplomas {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.iconContainer {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-content: flex-start;
}
