.dplFlxRwNwrJcBtwn {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.educationItemContainerInfo {
  margin-top: 20px;
}
.educationItemContainerP {
  margin: 0;
  font-size: 20px;
}
