.firstSection__tutorSearch {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 18px;
}
.firstSection__tutorSearch .searchWrapper {
  position: relative;
  width: 100%;
}
.firstSection__tutorSearch input {
  width: 100%;
  height: 63px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  font-size: 18px;
  padding: 0 45px 0 20px;
  box-sizing: border-box;
}

.inputBgBlue {
  border: 1px solid #e9e9e9;
  background-color: rgb(241, 242, 244);
}

.firstSection__tutorSearch .searchIcon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background: url("/img/icon/search.svg") no-repeat center center;
  background-size: contain;
  pointer-events: none; /* чтобы клик проходил к input */
}
.searchIconNone {
  display: none;
}
.firstSection__tutorSearch input::-moz-placeholder {
  color: #c1c1c1;
}
.firstSection__tutorSearch input::placeholder {
  color: #c1c1c1;
}
.firstSection__tutorSearch input:focus {
  outline: none;
  border: 1px solid #fad949;
}
@media (max-width: 480px) {
  .firstSection__tutorSearch input {
    height: 50px;
  }
}
.firstSection__tutorSearch button {
  grid-column: span 3;
  width: auto;
  height: 66px;
  border: none;
  border-radius: 10px;
  background-color: #fad949;
  color: #333333;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s;
  display: none;
}
.firstSection__tutorSearch button:hover {
  background-color: #f3d341;
}
.searchContainer {
  position: relative;
  grid-column: span 12;
}
.resultContainerTutorSearch {
  font-size: 18px;
  width: -webkit-fill-available; /* Для браузеров на движке WebKit */
  width: stretch; /* Стандартное свойство */
  width: -moz-available; /* Для поддержки в Firefox */
  background-color: white;
  border-radius: 10px;
  border: 2px solid #e9e9e9;
  margin-top: 2px;
  max-height: 240px;
  overflow-y: scroll;
  -ms-overflow-style: none; /* Для Internet Explorer и Edge */
}

.resultContainerTutorSearch::-webkit-scrollbar {
  display: none; /* Для Webkit-браузеров (Chrome, Safari и др.) */
}

.resultTutorSearch {
  padding: 12px 20px;
  cursor: pointer;
}
.resultTutorSearch:hover {
  background-color: #e1e4eb;
}
.highlight {
  background-color: #e1e4eb;
}
.errorInput {
  background-color: #ffebee;
}
.errorInputText {
  color: #ff2e2e;
  margin-top: 8px;
}

.spinner {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 24px;
  right: 24px;
}
.spinInd {
  top: 22px;
  right: 16px;
}
/* Для компонента Search */
.firstSection__tutorSearch2 input {
  width: 100%;
  height: 54px;
  border: 1px solid #e9e9e9;
  border-radius: 10px;
  font-size: 16px;
  padding: 0 20px 0 20px;
  background-color: rgb(241, 242, 244);
  box-sizing: border-box;
}
.firstSection__tutorSearch2 input::-moz-placeholder {
  color: #c1c1c1;
}
.firstSection__tutorSearch2 input::placeholder {
  color: #c1c1c1;
}
.firstSection__tutorSearch2 input:focus {
  outline: none;
  border: 1px solid #fad949;
}

.spinner2 {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 18px;
  right: 24px;
}
