/* .container1 {
  display: flex;
  flex-direction: row;
  gap: 18px;
}
.containerDetails {
    display: flex
;
    flex-direction: column;
    justify-content: space-between;
  flex: 1;
}
.containerName {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;
  justify-content: space-between;
}
.containerRaiting {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}
.tutorImg {
  border-radius: 10px;
}
.h3 {
  font-size: 20px;
}
.containerBages {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

/* Адаптивные стили под разрешения экранов */

/* ******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
****************************************************** */

/* ******************************************************
******************************************************
******************************************************
                        1280px
******************************************************
******************************************************
****************************************************** */

/* @media (max-width: 1280px) {
} */
/* ******************************************************
******************************************************
******************************************************
                        1024px
******************************************************
******************************************************
****************************************************** */
/* @media (max-width: 1024px) {
} */
/* ******************************************************
******************************************************
******************************************************
                        768px
******************************************************
******************************************************
****************************************************** */
/* @media (max-width: 768px) {
  .contBackM {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }
  .backImg {
    display: block;
    height: 32px;
  }
  .content_block {
    opacity: initial; 
    animation: none;
  }
  .imageDiplomas {
    border-radius: 0px;
    flex: 0 0 auto;
  }
} */
/* ******************************************************
******************************************************
******************************************************
                        668px
******************************************************
******************************************************
****************************************************** */
/* @media (max-width: 668px) {
} */
/* ******************************************************
******************************************************
******************************************************
                        560px
******************************************************
******************************************************
****************************************************** */
/* @media (max-width: 660px) {
} */
/* ******************************************************
******************************************************
******************************************************
                        480px
******************************************************
******************************************************
****************************************************** */
/* @media (max-width: 480px) {
  .container1 {
    gap: 10px;
  }
  .tutorImgM {
    width: 100px;
    height: 100px;
  }
  .h3 {
    font-size: 17px;
  }
} */
/* ******************************************************
******************************************************
******************************************************
                        340px
******************************************************
******************************************************
****************************************************** */
/* @media (max-width: 340px) {

}  */

.buttonGoChat {
  width: 100%;
}
.none {
  display: none;
}
.flxWrp {
  flex-wrap: wrap;
}
.raiting {
  width: fit-content;
  padding: 1px 3px;
  border-radius: 6px;
  font-size: 14px;
  color: #0b0800;
  background: linear-gradient(
    90deg,
    rgba(250, 217, 73, 0.5),
    rgba(241, 193, 64, 0.7)
  );
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
/* Адаптивные стили под разрешения экранов */

/* ******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
****************************************************** */

/* ******************************************************
******************************************************
******************************************************
                        1280px
******************************************************
******************************************************
****************************************************** */

@media (max-width: 1280px) {
}
/* ******************************************************
******************************************************
******************************************************
                        1024px
******************************************************
******************************************************
****************************************************** */
@media (max-width: 1024px) {
  .onlineStatus {
    display: none;
  }
}
/* ******************************************************
******************************************************
******************************************************
                        768px
******************************************************
******************************************************
****************************************************** */
@media (max-width: 768px) {
}
/* ******************************************************
******************************************************
******************************************************
                        668px
******************************************************
******************************************************
****************************************************** */
@media (max-width: 668px) {
}
/* ******************************************************
******************************************************
******************************************************
                        560px
******************************************************
******************************************************
****************************************************** */
@media (max-width: 660px) {
}
/* ******************************************************
******************************************************
******************************************************
                        480px
******************************************************
******************************************************
****************************************************** */
@media (max-width: 480px) {
}
/* ******************************************************
******************************************************
******************************************************
                        340px
******************************************************
******************************************************
****************************************************** */
@media (max-width: 340px) {
}
