.containerWN {
  display: flex;
  min-height: 50px;
  background-color: #fff3c4;
  color: #92400e;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
  white-space: pre-line;
}

/* Адаптивные стили под разрешения экранов */

/* ******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
****************************************************** */

/* ******************************************************
******************************************************
******************************************************
                        1280px
******************************************************
******************************************************
****************************************************** */

@media (max-width: 1280px) {
  .containerWN {
    padding-left: calc(50% - 480px);
    padding-right: calc(50% - 480px);
  }
}
/* ******************************************************
******************************************************
******************************************************
                        1024px
******************************************************
******************************************************
****************************************************** */
@media (max-width: 1024px) {
  .containerWN {
    padding-left: 30px;
    padding-right: 30px;
  }
}
/* ******************************************************
******************************************************
******************************************************
                        768px
******************************************************
******************************************************
****************************************************** */
@media (max-width: 768px) {
}
/* ******************************************************
******************************************************
******************************************************
                        668px
******************************************************
******************************************************
****************************************************** */
@media (max-width: 668px) {
}
/* ******************************************************
******************************************************
******************************************************
                        560px
******************************************************
******************************************************
****************************************************** */
@media (max-width: 660px) {
}
/* ******************************************************
******************************************************
******************************************************
                        480px
******************************************************
******************************************************
****************************************************** */
@media (max-width: 480px) {
  .containerWN {
    padding-left: 20px;
    padding-right: 20px;
  }
}
/* ******************************************************
******************************************************
******************************************************
                        340px
******************************************************
******************************************************
****************************************************** */
@media (max-width: 340px) {
}
