.menuButton {
  display: none;
  position: relative;
  z-index: 100;
  background: none;
  border: none;
  cursor: pointer;
  height: 28px;
  color: #343330;
}

.menuPanel {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 85dvh; /* высота меню */
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  gap: 20px;
  z-index: 1001;
  box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.15);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.link {
  font-size: 20px;
  color: #222;
  text-decoration: none;
  transition: color 0.2s ease;
}

.link:hover {
  color: #0070f3;
}
/* Адаптивные стили под разрешения экранов */

/* ******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
****************************************************** */

/* ******************************************************
******************************************************
******************************************************
                        1280px
******************************************************
******************************************************
****************************************************** */

@media (max-width: 1280px) {
}
/* ******************************************************
******************************************************
******************************************************
                        1024px
******************************************************
******************************************************
****************************************************** */
@media (max-width: 1024px) {
}
/* ******************************************************
******************************************************
******************************************************
                        768px
******************************************************
******************************************************
****************************************************** */
@media (max-width: 768px) {
  .menuButton {
    display: block;
  }
}
/* ******************************************************
******************************************************
******************************************************
                        668px
******************************************************
******************************************************
****************************************************** */
@media (max-width: 668px) {
}
/* ******************************************************
******************************************************
******************************************************
                        560px
******************************************************
******************************************************
****************************************************** */
@media (max-width: 660px) {
}
/* ******************************************************
******************************************************
******************************************************
                        480px
******************************************************
******************************************************
****************************************************** */
@media (max-width: 480px) {
  .menuPanel {
    height: 87dvh; /* высота меню */
  }
}
/* ******************************************************
******************************************************
******************************************************
                        340px
******************************************************
******************************************************
****************************************************** */
@media (max-width: 340px) {
}
