.menuButton {
  display: none;
  position: relative;
  z-index: 100;
  background: none;
  border: none;
  cursor: pointer;
  height: 28px;
  color: #343330;
  -webkit-tap-highlight-color: transparent; /* Убирает эффект выделения при тапе в WebKit (Safari, Chrome) */
  outline: none; /* Убирает контур при фокусе */
  user-select: none; /* Запрещает выделение текста */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  touch-action: manipulation;
}
.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1001;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.menuPanel {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 85dvh; /* высота меню */
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  gap: 20px;
  z-index: 1001;
  box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.15);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.link {
  font-size: 20px;
  color: #222;
  text-decoration: none;
  transition: color 0.2s ease;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  touch-action: manipulation;
}
/* Адаптивные стили под разрешения экранов */

/* ******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
****************************************************** */

/* ******************************************************
******************************************************
******************************************************
                        1280px
******************************************************
******************************************************
****************************************************** */

@media (max-width: 1280px) {
}
/* ******************************************************
******************************************************
******************************************************
                        1024px
******************************************************
******************************************************
****************************************************** */
@media (max-width: 1024px) {
}
/* ******************************************************
******************************************************
******************************************************
                        768px
******************************************************
******************************************************
****************************************************** */
@media (max-width: 768px) {
  .menuButton {
    display: block;
  }
}
/* ******************************************************
******************************************************
******************************************************
                        668px
******************************************************
******************************************************
****************************************************** */
@media (max-width: 668px) {
}
/* ******************************************************
******************************************************
******************************************************
                        560px
******************************************************
******************************************************
****************************************************** */
@media (max-width: 660px) {
}
/* ******************************************************
******************************************************
******************************************************
                        480px
******************************************************
******************************************************
****************************************************** */
@media (max-width: 480px) {
  .menuPanel {
    height: 87dvh; /* высота меню */
  }
}
/* ******************************************************
******************************************************
******************************************************
                        340px
******************************************************
******************************************************
****************************************************** */
@media (max-width: 340px) {
}
