@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  width: 18px;
  height: 18px;
}

.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 3px solid rgba(0, 0, 0, 0.05); /* Тусклая окружность */
}

.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #d9dee8; /* Полукруглая синяя часть сверху */
  border-left-color: #d9dee8; /* Полукруглая синяя часть слева */
  animation: spin 1s linear infinite;
}

.loaderContainer {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  width: max-content;
  height: inherit;
  align-items: center;
}

.loaderContainer span {
  font-size: 14px;
}

.loaderOrange {
  width: 18px;
  height: 18px;
}

.loaderOrange::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 3px solid rgba(223, 187, 26, 0.85); /* Тусклая окружность */
}

.loaderOrange::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #ebc959; /* Полукруглая синяя часть сверху */
  border-left-color: #f1d03d; /* Полукруглая синяя часть слева */
  animation: spin 1s linear infinite;
}
