.containerTitleAndImg {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.containerImg {
  display: flex;
  flex-direction: row;
  gap: 14px;
}

.img {
  border-radius: 10px;
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.img:hover {
  background-color: #eee;
}

.selectSubjectUl {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 16px;
}
.ContainerSelectSubjectLi {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.selectSubjectLiBorder {
  border-bottom: 1px solid #dddddd;
  width: 100%;
  order: 1;
}

.selectSubjectLiTitle {
  min-width: fit-content;
  order: 0;
}

.selectSubjectLiPrice {
  min-width: fit-content;
  order: 2;
  font-size: 16px;
  color: #777777;
}
