/* === Базовые стили === */
.bg {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
}

/* === Анимация фона === */
.bgEnter,
.bgLeave {
  transition: opacity 300ms ease-out;
}

.bgEnterFrom,
.bgLeaveTo {
  opacity: 0;
}

.bgEnterTo,
.bgLeaveFrom {
  opacity: 1;
}

/* === Обёртка === */
.popupWrapper {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
}

/* === Модальное окно === */
.popup {
  position: relative;
  width: 470px;
  max-height: fit-content;
  overflow-y: auto;
  background-color: white;
  border-radius: 10px;
  padding: 32px;
  transition:
    transform 300ms ease-out,
    opacity 300ms ease-out;
  max-height: 86dvh;
}

.popup::-webkit-scrollbar {
  display: none;
}

/* === Анимация появления и скрытия popup === */
.popupEnter,
.popupLeave {
  transition:
    transform 350ms cubic-bezier(0.16, 1, 0.3, 1),
    opacity 350ms cubic-bezier(0.16, 1, 0.3, 1);
}

.popupEnterFrom {
  opacity: 0;
  transform: translateY(155px) scale(0.97);
}

.popupEnterTo {
  opacity: 1;
  transform: translateY(0) scale(1);
}

.popupLeaveFrom {
  opacity: 1;
  transform: translateY(0) scale(1);
}

.popupLeaveTo {
  opacity: 0;
  transform: translateY(155px) scale(0.97);
}

/* === Заголовок === */
.title {
  font-size: 24px;
  margin: 0 0 8px 0;
  font-weight: 600;
}

/* === Фон и слой диалога === */
.dialogOverlay {
  position: fixed;
  inset: 0;
  z-index: 1000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* === Кнопка закрытия === */
.closeButton {
  border: none;
  cursor: pointer;
  background: none;
  color: #ff4d4d;
  font-weight: bold;
  font-size: 22px;
  position: absolute;
  top: 18px;
  right: 18px;
  transition: transform 0.2s ease;
}

.closeButton:hover {
  transform: scale(1.2);
}

/* === Адаптив === */
@media (max-width: 480px) {
  .popup {
    width: 100%;
    padding: 24px;
  }
  .title {
    font-size: 20px;
  }
}

@media (max-width: 320px) {
  .popup {
    width: 90%;
  }
}
