*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0;
  font-family: "Source Sans 3", sans-serif;
  background-color: #f1f2f4;
  color: #333333;
  font-size: 16px;
  overflow: auto;
  -ms-overflow-style: none; /* Для Internet Explorer и Edge */
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
  min-width: 280px;
}
body::-webkit-scrollbar {
  display: none; /* Для Webkit-браузеров (Chrome, Safari и др.) */
}

span {
  font-family: "Source Sans 3", sans-serif;
}

a {
  color: #333333;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

main {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}
@media (max-width: 1280px) {
  main {
    padding-left: calc(50% - 480px);
    padding-right: calc(50% - 480px);
  }
}
@media (max-width: 1024px) {
  main {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 480px) {
  main {
    padding-left: 20px;
    padding-right: 20px;
  }
}
input {
  font-family: "Source Sans 3", sans-serif;
}
