.undrln {
  text-decoration: underline;
}

.undrlnHover:hover {
  text-decoration: underline;
}

.padng18 {
  padding: 18px;
}

.mrgnTp0 {
  margin-top: 0px;
}

.mrgnTp10 {
  margin-top: 10px;
}

.mrgnBt10 {
  margin-bottom: 10px;
}

.mrgnLt10 {
  margin-left: 10px;
}

.mrgnRt10 {
  margin-right: 10px;
}

.mrgnTp20 {
  margin-top: 20px;
}

.mrgnBt20 {
  margin-bottom: 20px;
}

.mrgnLt20 {
  margin-left: 20px;
}

.mrgnRt20 {
  margin-right: 20px;
}

.crsrPntr {
  cursor: pointer;
}

.dplBlck {
  display: block;
}

.sticky {
  position: sticky;
  top: 0;
}

.wth100prct {
  width: 100%;
}

.gdntYlwOrnd {
  background: linear-gradient(
    90deg,
    rgb(250, 217, 73) 18%,
    rgb(241, 193, 64) 100%
  );
}

.flxClmn {
  display: flex;
  flex-direction: column;
}

.flxRow {
  display: flex;
  flex-direction: row;
}

.jstContSpcBtwn {
  justify-content: space-between;
}

.jstContFlxEnd {
  justify-content: flex-end;
}

.algnItmCntr {
  align-items: center;
}

.gap8 {
  gap: 8px;
}

.gap16 {
  gap: 16px;
}

.blcHvrGr:hover {
  background-color: #eeeeee;
}

.brdrRds10 {
  border-radius: 10px;
}

.firstSection__snippetSearch {
  margin-top: 18px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 18px;
}
.firstSection__snippet {
  background-color: #e1e4eb;
  border: 1px solid #e9e9e9;
  border-radius: 10px;
  height: 130px;
  padding: 20px;
  font-size: 20px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s;
}
.firstSection__snippet:hover {
  background-color: #d9dee8;
}
.firstSection__snippet p {
  width: 500px;
  font-size: 16px;
  color: #888888;
}
.firstSection__snippetImage {
  position: absolute;
  bottom: 0;
  right: 0;
}

.firstSection h1 {
  font-size: 66px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -1.1px;
  margin: 84px 0 0 0;
}
@media (max-width: 1024px) {
  .firstSection h1 {
    font-size: 52px;
    line-height: 0.9;
  }
}
@media (max-width: 768px) {
  .firstSection h1 {
    font-size: 35px;
    line-height: 1.1;
    margin: 56px 0 40px 0;
  }
}
.firstSection h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 1.2;
  margin: 15px 0 40px 0;
}
@media (max-width: 1024px) {
  .firstSection h2 {
    font-size: 22px;
    line-height: 1;
  }
}
@media (max-width: 768px) {
  .firstSection h2 {
    display: none;
  }
}
/* .mobContainer {
} */
@media (max-width: 768px) {
  .mobContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.snippetBig {
  grid-column: span 6;
}

.snippetMedium {
  grid-column: span 6;
}

.snippetSmall {
  grid-column: span 3;
}

.howWork {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  flex-wrap: nowrap;
  margin-top: 114px;
}
.howWork__title {
  font-size: 48px;
  font-weight: 600;
  letter-spacing: -1.1px;
}
.howWork__step {
  background-color: #2a2a2a;
  min-height: 245px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  padding: 20px 60px;
}
.howWork .stepNumber {
  font-weight: 600;
  font-size: 28px;
  height: 140px;
}
.howWork h3 {
  font-size: 32px;
  font-weight: 400;
  margin: 0;
}
.howWork .stepDescription {
  padding: 0 100px;
  height: 140px;
}
.howWork__text {
  font-family: "Source Sans 3", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.howWork__text span {
  color: #fad949;
}

.tutorsIn {
  margin-top: 114px;
}
.tutorsIn__subjects {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 40px;
  row-gap: 40px;
}
.tutorsIn__subject {
  grid-column: span 1;
}
.tutorsIn__subject h4 {
  font-weight: 700;
  margin: 0;
}
.tutorsIn__subject ul {
  list-style-type: none;
  padding: 0;
}
.tutorsIn__subject li {
  line-height: 36px;
  transition: all 0.3s;
}
.tutorsIn__subject li:hover {
  text-decoration: underline;
  color: #000000;
}

.blog {
  margin: 114px 0;
}
.blog__article {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  margin-top: 40px;
}
.blog__articleContainer {
  width: 286.5px;
  transition: all 0.3s;
  cursor: pointer;
}
.blog__articleContainer__date {
  color: #888888;
  margin: 10px 0;
}
.blog__articleContainer__title {
  font-size: 20px;
  margin: 10px 0;
}
.blog__articleContainer__title:hover {
  text-decoration: underline;
}
.blog__articleContainer img {
  width: 286.5px;
  border-radius: 10px;
}

.feedbacks {
  margin-top: 114px;
}
.feedbacks__container {
  display: grid;
  margin-top: 40px;
  grid-template-columns: repeat(12, 1fr);
  gap: 18px;
}
.feedbacks__container__feedback1 {
  padding: 20px;
  background-color: #e1e4eb;
  border: 1px solid #e9e9e9;
  border-radius: 10px;
  grid-column: span 9;
}
.feedbacks__container__feedback2 {
  padding: 20px;
  background-color: #e1e4eb;
  border: 1px solid #e9e9e9;
  border-radius: 10px;
  grid-column: span 3;
}
.feedbacks__container__feedback3 {
  padding: 20px;
  background-color: #e1e4eb;
  border: 1px solid #e9e9e9;
  border-radius: 10px;
  grid-column: span 6;
}
.feedbacks__container__feedback4 {
  padding: 20px;
  background-color: #e1e4eb;
  border: 1px solid #e9e9e9;
  border-radius: 10px;
  grid-column: span 4;
}
.feedbacks__container__fio {
  display: flex;
  flex-direction: row;
  gap: 18px;
}
.feedbacks__container__fio img {
  -o-object-fit: cover;
  object-fit: cover; /* Запрещаем масштабирование изображения */
  -o-object-position: center;
  object-position: center; /* Центрируем картинку от центра */
  height: 70px;
  width: 70px;
  border-radius: 10px;
}
.feedbacks__container__tutor a {
  font-size: 18px;
  margin: 0 0 2px 0;
  display: block;
  transition: all 0.3s;
}
.feedbacks__container__tutor a:hover {
  text-decoration: underline;
}
.feedbacks__container__tutor span {
  color: #888888;
}
.feedbacks__container__text {
  font-style: italic;
}
.feedbacks__container__name {
  font-style: italic;
  color: #888888;
}

.footer {
  background-color: #1d1d1d;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}
@media (max-width: 1280px) {
  .footer {
    padding-left: calc(50% - 480px);
    padding-right: calc(50% - 480px);
  }
}
@media (max-width: 1024px) {
  .footer {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.footer__left {
  width: 690px;
}
.footer__menu a {
  margin-right: 32px;
  line-height: 38px;
  color: #777777;
  transition: all 0.3s;
}
.footer__menu a:hover {
  color: #999999;
}
.footer__copiright {
  font-size: 13px;
  color: #555555;
  margin-top: 40px;
}
.footer__description {
  font-size: 13px;
  color: #777777;
  margin-top: 26px;
}
.footer__cookie {
  font-size: 13px;
  color: #777777;
  margin-top: 26px;
}
.footer__right__logo {
  display: flex;
  flex-direction: column;
  font-family: "Sofia Sans", sans-serif;
  font-weight: 900;
  font-size: 28px;
  color: #dddddd;
}
.footer__right__underLogo {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: 9px;
  color: #d9dee8;
}
.footer__right__social {
  color: #d9dee8;
  margin-top: 40px;
}
.footer__right__social svg {
  color: #777777;
  width: 28px;
  margin-right: 10px;
  transition: all 0.3s;
}
.footer__right__social svg:hover {
  color: #d9dee8;
  cursor: pointer;
} /*# sourceMappingURL=style.css.map */
.cookie_container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #2a2a2a;
  color: white;
  padding: 16px;
  z-index: 9;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}
@media (max-width: 1280px) {
  .cookie_container {
    padding-left: calc(50% - 480px);
    padding-right: calc(50% - 480px);
    gap: 40px;
  }
}
@media (max-width: 1024px) {
  .cookie_container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 480px) {
  .cookie_container {
    min-width: 380px;
    margin: 0 auto;
    padding: 0 20px;
  }
}

.cookie_link {
  color: white;
  text-decoration: underline;
}
.content_block_button {
  padding: 18px 20px;
  border: none;
  border-radius: 10px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s;
}
@media (max-width: 668px) {
  .cookie_link {
    font-size: 12px;
  }
  /* .content_block_button {

  } */
}
.buttonBlc {
  background-color: black;
  color: white;
}
.buttonYlw {
  background-color: #fad949;
  color: black;
}
.bodyWithCookies {
  margin-bottom: 86px;
}
.titleH1Container {
}
.titleH1Page {
  font-size: 24px;
  margin: 0 0 28px 0;
}
.containerPublicPage {
  margin-top: 18px;
  display: grid;
  grid-template-columns: repeat(27, 1fr);
  grid-gap: 18px;
  gap: 18px;
}
.content {
  grid-column: span 18;
}
.sidebar {
  grid-column: span 9;
}
.breadcrumbs {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.content_block {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 18px;
  margin-bottom: 18px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.text {
  letter-spacing: 0.2px;
  word-spacing: 0.5px;
  line-height: 1.6;
}
.subtitle {
  font-weight: 600;
  font-size: 20px;
  margin: 12px 0;
}
.styledList {
  margin: 18px 0 18px 28px;
}
.styledList li {
  list-style-type: square;
  margin-bottom: 5px;
}
