.container {
    padding-left: calc(50% - 300px);
    padding-right: calc(50% - 300px);
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-top: 32px;
}

.title {
    font-size: 34px;
    font-weight: 600;
    margin: 0;
}

.description {
    font-size: 24px;
}

.answer {
    background-color: white;
    border-radius: 10px;
}

.radioLabel {
    display: flex;
    margin-bottom: 18px;
    padding: 16px 18px 16px 18px;
    border-radius: 10px;
    border: 1px solid #E9E9E9;
    cursor: pointer;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
    height: 56px;
    box-sizing: border-box;

    &__text {
        width: fit-content;
        margin: 0;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none;
        font-weight: 400;
     }
 }

 .radioInput {
    display: none;
    &:checked + label .radio {
      &:after {
        transform: translate(-50%, -50%) scale(1);
      }
    }
  }
  
  .radio {
    border: 1px solid #2a2a2a;
    border-radius: 9px;
    width: 16px;
    height: 16px;
    display: inline-block;
    position: relative;
    cursor: pointer;
  
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
      width: 10px;
      height: 10px;
      background-color: #2a2a2a;
      border-radius: 6px;
      transition: 0.3s;
    }
  }

  .radio p {
    margin-left: 32px;
    position: absolute;
    top: -19px;
    font-weight: 400;
    width: 200px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
  }