.button button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 18px 0 0 0;
  padding: 18px 20px;
  border: none;
  border-radius: 10px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s;
}

.buttonBlc {
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 1) 0%,
    rgba(69, 72, 77, 1) 100%
  );
  color: #dddddd;
}

.buttonYlw {
  background-color: #fad949;
  color: black;
}

.textButton {
}

.priceButton {
  font-weight: 400;
}
/* ******************************************************
******************************************************
******************************************************
                        768px
******************************************************
******************************************************
****************************************************** */
@media (max-width: 768px) {
  .buttonBlc {
    letter-spacing: 0.5px;
  }
  .content_block_button {
    padding: 12px 12px;
    font-weight: 500;
    font-size: 17px;
  }
}
