.container {
  margin: 0;
}
.container span {
  color: #777;
}
.containerEntityLink {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 16px;
  margin: 25px 0 6px 0;
}
.link {
  cursor: pointer;
  max-width: fit-content;
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
}
.img {
  border-radius: 10px;
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.img:hover {
  background-color: #eee;
}
