.center {
  padding-left: calc(50% - 300px);
  padding-right: calc(50% - 300px);
  display: flex;
  justify-content: center; /* Горизонтальное центрирование */
  align-items: center; /* Вертикальное центрирование */
  height: 100dvh; /* Занимает всю высоту экрана */
}
.spinner {
  width: 18px;
  height: 18px;
  position: relative;
  top: 50%;
}
.container {
  display: flex;
}

.content_block {
  width: 100%;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 18px;
  margin-bottom: 18px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
.title {
  font-size: 28px;
}
.description {
  font-size: 18px;
}
.content_block_button {
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s;
  font-family: "Source Sans 3", sans-serif;
}
.buttonYlw {
  background-color: #fad949;
  color: black;
}
/* Адаптивные стили под разрешения экранов */

/* ******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
****************************************************** */

/* ******************************************************
******************************************************
******************************************************
                        560px
******************************************************
******************************************************
****************************************************** */
@media (max-width: 600px) {
  .center {
    background-color: white;
  }
  .content_block {
    border-radius: 0px;
    padding: 10px;
  }
  .content_block_button {
    width: 100%;
  }
}
