.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.undrln {
  text-decoration: underline;
}

.undrln-hover:hover {
  text-decoration: underline;
}

.wdth100 {
  width: 100%;
}

.header {
  width: auto;
  height: 70px;
  background-color: white;
  border-bottom: 1px solid #e9e9e9;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  display: flex;
  flex-direction: column;
  font-family: "Sofia Sans", sans-serif;
  font-weight: 900;
  font-size: 32px;
}
.header__underLogo {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: 9px;
}
.header__geoImage {
  margin-bottom: -3px;
  margin-right: 5px;
}
.header__menu {
  display: flex;
  -moz-column-gap: 18px;
  column-gap: 18px;
  align-items: center;
}
.header__menu span {
  text-decoration: none;
  color: #333333;
  transition: all 0.3s;
  cursor: pointer;
}
.header__menu span:hover {
  color: #000000;
  text-decoration: underline;
}
.header__menu img {
  width: 42px;
  height: 42px;
  border-radius: 10px;
  -o-object-fit: cover;
  object-fit: cover;
  border: 1px solid #e9e9e9;
}
.header__offers {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
}
.header__offers a:hover {
  text-decoration: underline;
}

.hidden {
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.disabled {
  pointer-events: none;
}

.visible {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}
.container__spinner {
  width: 100%;
  position: relative;
}
.spinner {
  width: 18px;
  height: 18px;
  position: relative;
  top: 50%;
}

.buttonYlSpinner {
  display: inline-block;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 38px;
  left: 174px;
}

.container {
  margin-top: 18px;
  display: grid;
  grid-template-columns: repeat(27, 1fr);
  gap: 18px;
}

.leftbar {
  margin-bottom: 18px;
  grid-column: span 5;
  display: flex;
  flex-direction: column;
  gap: 18px;
  height: fit-content;
  position: sticky;
  top: 0;
  z-index: 10;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.left_menu {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 12px 0 12px 18px;

  &__list-text:hover {
    text-decoration: underline;
  }
}

.left_menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.left_menu ul li {
  position: relative;
  padding: 12px 0 12px 40px;
  cursor: pointer;
  width: fit-content;
  color: #555555;
}

.left_menu ul li:hover {
  color: black;
}

.left_menu ul li img {
  width: 32px;
  position: absolute;
  left: 0;
  top: 8px;
}

.left_menu ul li svg {
  position: absolute;
  top: 8px;
  left: 120px;
}

.accrd_content {
  max-height: 0;
  overflow: hidden;
  transition: 0.3s all;
}

.accrd_content.open {
  max-height: 144px; /* Установите максимальную высоту, чтобы блок открывался */
}

.count_block {
  background-color: black;
  color: white;
  padding: 0 6px;
  border-radius: 3px;
  margin-left: 5px;
}

.content {
  grid-column: span 14;
}
.contentFull {
  grid-column: span 22;
}

.content_block {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 18px;
  margin-bottom: 18px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  opacity: 0; /* Начальная прозрачность */
  animation: fadeIn 0.6s forwards; /* Анимация появления */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.content_block h3 {
  font-size: 20px;
  margin: 0;
  width: fit-content;
}

.content_block h4 {
  font-size: 18px;
  margin: 0;
  width: fit-content;
}

.content_block_p {
  margin: 10px 0;
}

/* .content_block button {
  padding: 18px 20px;
  border: none;
  border-radius: 10px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s;
} */

.content_block_button {
  padding: 18px 20px;
  border: none;
  border-radius: 10px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s;
  font-family: "Source Sans 3", sans-serif;
}

.content_block_chat {
  margin-bottom: 18px;
}

.buttonBlc {
  background-color: black;
  color: white;
}

.buttonYlw {
  background-color: #fad949;
  color: black;
}

.buttonWthCnt {
  width: fit-content;
}
/* .agnCntr {
  align-self: anchor-center;
} */
.order_block {
  position: relative;
}

.order_block_flx_rw_spbtw {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-end;
  justify-content: space-between;
}

.order_block_flx_rw_spbtw_price {
  font-size: 18px;
}

.order_block_flx_rw_spbtw_date {
  font-size: 14px;
  color: #888888;
}

.order_block_flx_rw_flxstrt {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  column-gap: 4px;
}
.lctTrContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.order_block_flx_rw_flxstrt svg {
  margin-top: 0;
}
.order_block_flx_rw_flxstrt_text {
  margin-top: 6px;
}
.order_block_flx_rw_subtext {
  font-size: 14px;
  color: #888888;
}

.order_block_inf {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
}

.order_block_ordr_itm {
  margin: 0;
}

.order_block_ordr_itm_text {
  margin: 0;
  padding: 0;
}

.order_block_img {
  align-self: center;
  max-width: 400px;
}

.sidebar {
  grid-column: span 7;
  margin-bottom: 18px;
  opacity: 0; /* Начальная прозрачность */
  animation: fadeIn 0.5s forwards; /* Анимация появления */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.sidebarResponse {
  margin-bottom: 18px;
  grid-column: span 8;
  display: flex;
  flex-direction: column;
  gap: 18px;
  height: fit-content;
  position: sticky;
  top: 0;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  opacity: 0; /* Начальная прозрачность */
  animation: fadeIn 0.5s forwards; /* Анимация появления */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.sidebarResponseM {
  display: none;
}

.sidebar_filter {
  border-radius: 10px;
  padding: 2px 18px 18px 18px;
  height: fit-content;
  background-color: #ffffff;
}

.sidebar_filter button {
  padding: 18px 20px;
  border: none;
  border-radius: 10px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s;
}

.sidebar_filterForChat {
  border-radius: 10px;
  height: fit-content;
  background-color: #ffffff;
}

.sidebar_filterBlack {
  border-radius: 10px;
  padding: 2px 18px 18px 18px;
  height: fit-content;
  color: #dddddd;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 1) 0%,
    rgba(69, 72, 77, 1) 100%
  );
}

.sidebar_filterBlack button {
  padding: 18px 20px;
  border: none;
  border-radius: 10px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s;
}

.sidebar_title {
  font-weight: 600;
}

.sidebar_block h3 {
  font-size: 20px;
  margin: 0;
  width: -moz-fit-content;
  width: fit-content;
}

.sidebar_container_geo {
  padding: 11px 18px;
  border-radius: 10px;
  border: 1px solid #e9e9e9;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.sidebar_geo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.sidebar_geo_select_region {
  max-height: 0;
  overflow: hidden;
  transition: 0.3s all;
}

.sidebar_geo_select_region.open {
  padding: 20px 0 0 0;
  max-height: 260px;
}

.select_region_container {
  transition:
    opacity 0.3s ease,
    max-height 0.3s ease;
  opacity: 1;
  max-height: 260px;
}

.select_region_container.close {
  transition:
    opacity 0.3s ease,
    max-height 0.3s ease;
  opacity: 0;
}

.sidebar_geo_select_region input {
  width: -webkit-fill-available;
  padding: 16px 18px;
  border-radius: 10px;
  border: 1px solid #e9e9e9;
  font-family: "Source Sans 3", sans-serif;
  color: #333333;
  font-size: 16px;
}

.sidebar_geo_select_region input:focus {
  outline: none;
  border: 1px solid #fad949;
}

.select_region_input_container {
  position: relative;
  box-shadow: 0 0 11px 25px #fff;
}

.listRegion {
  padding: 17px 0 0 0;
  overflow-y: scroll;
  max-height: inherit;
}

/* Скрытие полосы прокрутки для WebKit-браузеров (Chrome, Safari) */
.listRegion::-webkit-scrollbar {
  display: none;
}

/* Скрытие полосы прокрутки для Firefox */
.listRegion {
  scrollbar-width: none; /* Скрыть полосу прокрутки */
}

/* Скрытие для Edge */
.listRegion {
  -ms-overflow-style: none; /* Скрыть полосу прокрутки */
}

.listRegion_region {
  padding: 10px 0;
}

.hgh_100vh {
  height: 100dvh;
}

.flx_1 {
  flex: 1;
}

.input_message_block {
  background-color: #fcfcfc;
  padding: 18px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: 1px solid #e9e9e9;
}

.header_geoImage {
  margin-bottom: 2px;
  margin-right: 5px;
}

.visible {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.hidden {
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.blockAutoContakts {
  color: #dddddd;
  border-radius: 10px;
  font-size: 13px;
  padding: 0px 9px;
  max-width: 136px;
  height: 54px;
  display: flex;
  column-gap: 4px;
  flex-direction: row;
  align-items: center;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 1) 0%,
    rgba(69, 72, 77, 1) 100%
  );
}

.fireIcon {
  position: relative;
  top: -8px;
}

.titleGrey {
  color: #777777;
}

.containerEntityShow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 12px;
  margin: 25px 0 6px 0;
  align-items: center;
}

.containerEntityShowEnd {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 60px;
  margin: 25px 0 6px 0;
  align-items: center;
  justify-content: space-between;
}

.containerEntityTitleDescription {
  display: flex;
  flex-direction: column;
  gap: 6px;
  color: #000000;
}
.inputContainerSwitch {
  -webkit-tap-highlight-color: transparent; /* Убирает эффект выделения при тапе в WebKit (Safari, Chrome) */
  outline: none; /* Убирает контур при фокусе */
  user-select: none; /* Запрещает выделение текста */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  touch-action: manipulation;
}
.iosSwitch {
  position: relative;
  display: inline-block;
  /* width: 60px;
  height: 32px; */
  width: 54px;
  height: 28px;
}

.iosSwitch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.iosSwitch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e5e5ea; /* Серый цвет */
  /* border-radius: 32px; */
  border-radius: 28px;
  transition: background-color 0.3s ease;
  -webkit-tap-highlight-color: transparent; /* Убирает эффект выделения при тапе в WebKit (Safari, Chrome) */
  outline: none; /* Убирает контур при фокусе */
  user-select: none; /* Запрещает выделение текста */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  touch-action: manipulation;
}

.iosSwitch .slider::before {
  content: "";
  position: absolute;
  /* height: 28px;
  width: 28px; */
  height: 24px;
  width: 24px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s ease;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.iosSwitch input:checked + .slider {
  /*background-color: #34c759; /* Зеленый цвет iOS */
  background-color: #66bb6a;
}

.iosSwitch input:checked + .slider::before {
  transform: translateX(26px);
}
.studentOrderLoader {
  width: 20px;
}
.studentFilterOrders {
  display: flex;
  flex-direction: row;
  gap: 18px;
  margin-bottom: 18px;
}
.student2BlockForOrders {
  display: flex;
  flex-direction: row;
  gap: 18px;
}
.studentBlockOrderWithResponse {
  display: flex;
  flex-direction: row;
  margin-top: 18px;
  gap: 18px;
  align-items: center;
}
.studentBlockOrderWithResponseCount {
  line-height: 18px;
}
.studentBlockOrderWithResponseImg {
  white-space: nowrap;
  height: 36px;
}
.studentResponseImg {
  border-radius: 10px;
  margin-right: -8px;
  border: 3px solid #fff;
}
.studentSidebarOrderNoResponse {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
  text-align: center;
  padding: 20px;
}
.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

.td,
.th {
  padding: 8px 0;
  text-align: left;
  border: none; /* Убираем границы у ячеек */
}

/* Линии только между строками */
.table tr:not(:last-child) .td {
  border-bottom: 1px solid #dddddd;
}
/* Выравнивание текста */
.td:first-child {
  text-align: left;
}

.td:last-child {
  text-align: right;
}
.text14px {
  font-size: 14px;
}
.textBlc {
  color: #000000;
}
.textGr {
  color: #777777;
}
.containerTextAndLoader {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  padding: 20px;
  background: #fad9492a;
  border: 1px solid;
  border-color: #fad9493a;
  border-radius: 10px;
}
.wsNoWrap {
  white-space: nowrap;
}
.stPlcSvg {
  min-width: 32px;
}
/* Адаптивные стили под разрешения экранов */

/* ******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
****************************************************** */

/* ******************************************************
******************************************************
******************************************************
                        1280px
******************************************************
******************************************************
****************************************************** */

@media (max-width: 1280px) {
  .header {
    padding-left: calc(50% - 480px);
    padding-right: calc(50% - 480px);
  }
  .leftbar {
    grid-column: span 7;
  }
  .content {
    grid-column: span 20;
  }
  .contentFull {
    grid-column: span 20;
  }
  .sidebarResponse {
    display: none;
  }
  .sidebarResponseM {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }
}
/* ******************************************************
******************************************************
******************************************************
                        1024px
******************************************************
******************************************************
****************************************************** */
@media (max-width: 1024px) {
  .header {
    padding-left: 30px;
    padding-right: 30px;
  }
  .leftbar {
    grid-column: span 7;
  }
}
/* ******************************************************
******************************************************
******************************************************
                        768px
******************************************************
******************************************************
****************************************************** */
@media (max-width: 768px) {
  .leftbar {
    display: none;
  }
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
  .containerChM {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 0;
  }
  .contentFull {
    grid-column: span 1;
  }
  .paddingBottM {
    padding-bottom: 70px;
  }
  .content_block {
    opacity: initial; /* Начальная прозрачность */
    animation: none; /* Анимация появления */
  }
  .buttonBlc {
    letter-spacing: 0.5px;
  }
  .content_block_button {
    padding: 12px 12px;
    font-weight: 600;
  }
}
/* ******************************************************
******************************************************
******************************************************
                        668px
******************************************************
******************************************************
****************************************************** */
@media (max-width: 668px) {
  .header__underLogoMob {
    display: block;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-size: 9px;
  }
  .header__underLogo {
    display: none;
  }
}
/* ******************************************************
******************************************************
******************************************************
                        560px
******************************************************
******************************************************
****************************************************** */
@media (max-width: 660px) {
  /* .center {
    padding-left: 30px;
    padding-right: 30px;
  } */
}
/* ******************************************************
******************************************************
******************************************************
                        480px
******************************************************
******************************************************
****************************************************** */
@media (max-width: 480px) {
  .center {
    padding-left: 0px;
    padding-right: 0px;
  }
  .main {
    padding-left: 10px;
    padding-right: 10px;
  }
  .header {
    padding-left: 10px;
    padding-right: 10px;
  }
  .content_block {
    padding: 10px;
    margin-bottom: 10px;
  }
  .content_block h3 {
    font-size: 20px;
    line-height: 20px;
  }
  .sidebarResponseM {
    gap: 10px;
  }
  .container {
    margin-top: 10px;
  }
  .containerChM {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 0;
  }
  .buttonWthCnt {
    width: auto;
  }
}
/* ******************************************************
******************************************************
******************************************************
                        340px
******************************************************
******************************************************
****************************************************** */
@media (max-width: 360px) {
  .name {
    display: none;
  }
  .content {
    grid-column: span 10;
  }
}
