.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}
.container {
  margin-top: 18px;
  display: grid;
  grid-template-columns: repeat(27, 1fr);
  gap: 18px;
}
.grid19 {
  grid-column: span 19;
}
.grid8 {
  grid-column: span 8;
}
.titleActionSidebar {
  font-size: 18px !important;
  margin: 0 0 18px 0 !important;
}
.buttonActionSidebar {
  width: 100%;
  margin: 18px 0 0 0;
}

/* Адаптивные стили под разрешения экранов */

/* ******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
****************************************************** */

/* ******************************************************
******************************************************
******************************************************
                        1280px
******************************************************
******************************************************
****************************************************** */

@media (max-width: 1280px) {
  .header {
    padding-left: calc(50% - 480px);
    padding-right: calc(50% - 480px);
  }
  .leftbar {
    grid-column: span 7;
  }
  .content {
    grid-column: span 20;
  }
  .contentFull {
    grid-column: span 20;
  }
  .sidebarResponse {
    display: none;
  }
  .sidebarResponseM {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }
}
/* ******************************************************
******************************************************
******************************************************
                        1024px
******************************************************
******************************************************
****************************************************** */
@media (max-width: 1024px) {
  .grid19 {
    grid-column: span 17;
  }
  .grid8 {
    grid-column: span 10;
  }
}
/* ******************************************************
******************************************************
******************************************************
                        768px
******************************************************
******************************************************
****************************************************** */
@media (max-width: 768px) {
  .container {
    display: block;
    grid-template-columns: repeat(1, 1fr);
  }
  .paddingBottM {
    padding-bottom: 70px;
  }
  .grid19 {
    grid-column: span 1;
  }
  .grid8 {
    grid-column: span 1;
  }
}
/* ******************************************************
******************************************************
******************************************************
                        668px
******************************************************
******************************************************
****************************************************** */
@media (max-width: 668px) {
}
/* ******************************************************
******************************************************
******************************************************
                        560px
******************************************************
******************************************************
****************************************************** */
@media (max-width: 660px) {
}
/* ******************************************************
******************************************************
******************************************************
                        480px
******************************************************
******************************************************
****************************************************** */
@media (max-width: 480px) {
  .center {
    padding-left: 0px;
    padding-right: 0px;
  }
  .main {
    padding-left: 0px;
    padding-right: 0px;
  }
  .container {
    margin-top: 10px;
  }
}
/* ******************************************************
******************************************************
******************************************************
                        340px
******************************************************
******************************************************
****************************************************** */
@media (max-width: 360px) {
}
