.containerMenu {
  display: none;
}
.wrapMenuM {
}
.containerUlM {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 70px;
  font-size: 14px;
}
.ulM {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.liM {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  align-items: center;
  width: 25%;
  height: 70px;
  justify-content: center;
  color: #777777;
}
/* .activeLi {
  background-color: #f7f7f7;
} */
.pulseDot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #00ff00; /* Зеленая точка — можешь поменять на yellow */
  box-shadow: 0 0 0 0 rgba(0, 255, 0, 0.7);
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 255, 0, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 255, 0, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 255, 0, 0);
  }
}

.boldTM {
  color: #000000;
}

/* Адаптивные стили под разрешения экранов */

/* ******************************************************
******************************************************
******************************************************
                        1280px
******************************************************
******************************************************
****************************************************** */

@media (max-width: 1280px) {
  .wrapMenuM {
    padding-left: calc(50% - 480px);
    padding-right: calc(50% - 480px);
  }
}
/* ******************************************************
******************************************************
******************************************************
                        1024px
******************************************************
******************************************************
****************************************************** */
@media (max-width: 1024px) {
  /* .wrapMenuM {
    padding-left: 30px;
    padding-right: 30px;
  } */
}
/* ******************************************************
******************************************************
******************************************************
                        768px
******************************************************
******************************************************
****************************************************** */
@media (max-width: 768px) {
  .containerMenu {
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 70px;
    background-color: white;
    color: black;
    border-top: 1px solid #f7f7f7;
    z-index: 1000;
  }
}
/* ******************************************************
******************************************************
******************************************************
                        480px
******************************************************
******************************************************
****************************************************** */
@media (max-width: 480px) {
  /* .wrapMenuM {
    padding-left: 10px;
    padding-right: 10px;
  } */
}
