.contentFlxRw {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 18px;
}
.wikiBlock {
  width: -webkit-fill-available; /* Для WebKit-браузеров (Chrome, Safari) */
  width: -moz-available; /* Для Firefox */
  width: -webkit-stretch; /* Альтернативный вариант для WebKit */
  width: -moz-stretch; /* Альтернативный вариант для Firefox */
  width: stretch; /* Стандартный вариант */
  width: 100%; /* Резервный вариант */
  background-color: #ffffff;
  border-radius: 10px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  flex: 0 1 calc(50% - 8px); /* Жестко фиксируем 50% ширины */
  box-sizing: border-box;
  cursor: pointer;
}
.container {
  padding: 18px;
}
.titleWiki {
  font-size: 20px;
}
.containerThemesList {
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.itemThemesList:hover {
  text-decoration: underline;
}
.h3 {
  margin-top: 0px;
}
/* Адаптивные стили под разрешения экранов */

/* ******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
****************************************************** */

/* ******************************************************
******************************************************
******************************************************
                        1280px
******************************************************
******************************************************
****************************************************** */

@media (max-width: 1280px) {
}
/* ******************************************************
******************************************************
******************************************************
                        1024px
******************************************************
******************************************************
****************************************************** */
@media (max-width: 1024px) {
  .contentFlxRw {
    flex-direction: column;
  }
  .titleWiki {
    margin: 0 0 10px 0px;
  }
}
/* ******************************************************
******************************************************
******************************************************
                        768px
******************************************************
******************************************************
****************************************************** */
@media (max-width: 768px) {
}
/* ******************************************************
******************************************************
******************************************************
                        668px
******************************************************
******************************************************
****************************************************** */
@media (max-width: 668px) {
}
/* ******************************************************
******************************************************
******************************************************
                        560px
******************************************************
******************************************************
****************************************************** */
@media (max-width: 660px) {
}
/* ******************************************************
******************************************************
******************************************************
                        480px
******************************************************
******************************************************
****************************************************** */
@media (max-width: 480px) {
  .container {
    padding: 10px;
  }
  .titleWiki {
    margin: 0 0 6px 0px;
  }
}
/* ******************************************************
******************************************************
******************************************************
                        340px
******************************************************
******************************************************
****************************************************** */
@media (max-width: 360px) {
}
