.order_gap {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.tutorImgFioContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.tutorImgFioContainerTP {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.tutorImg {
  border-radius: 10px;
}
.containerFlxRw {
  display: flex;
  flex-direction: row;
}
.flxWrp {
  flex-wrap: wrap;
}

.flex1 {
  flex: 1;
}
.flex4 {
  flex: 4;
}
.pstnRltv {
  position: relative;
  max-width: fit-content;
}
.jtfCntSpBtwn {
  justify-content: space-between;
}
.gap6 {
  gap: 6px;
}
.gap10 {
  gap: 10px;
}
.gap20 {
  gap: 20px;
}
.pdngTp20 {
  padding-top: 20px;
}
.tutorPlaces {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  flex-direction: row;
}
.containerIsOnline {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.isOnline {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: #66bb6a;
}
.isOffline {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: #dddddd;
}

.mt6px {
  margin-top: 6px;
}
.mt12px {
  margin-top: 12px;
}
.subjectName {
  font-weight: 600;
}
.alignSelfCenter {
  align-self: anchor-center;
}
.goal {
}

.linkList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.containerOrderInfo {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.titleOrderInfo {
  color: #777;
}
.titleTutorInfo {
  font-size: 18px;
  font-weight: 700;
}
.priceInt {
  font-size: 28px;
}
.passportControl {
  width: fit-content;
  padding: 4px 6px;
  border-radius: 4px;
  font-size: 14px;
  color: #206420;
  background: linear-gradient(
    90deg,
    rgba(102, 187, 106, 0.5),
    rgba(139, 195, 74, 0.4)
  );
}
.goodReviews {
  width: fit-content;
  padding: 4px 6px;
  border-radius: 4px;
  font-size: 14px;
  color: #8c6a00;
  background: linear-gradient(
    90deg,
    rgba(250, 217, 73, 0.5),
    rgba(241, 193, 64, 0.4)
  );
}
.docsEducation {
  width: fit-content;
  padding: 4px 6px;
  border-radius: 4px;
  font-size: 14px;
  color: #4a3d78; /* Глубокий лавандовый */
  background: linear-gradient(
    90deg,
    rgba(190, 180, 255, 0.5),
    rgba(160, 150, 230, 0.4)
  );
}

/* .listEducation {
  list-style-type: circle;
  margin-left: 20px;
} */
.profileInfoText {
  white-space: pre-line;
}
.imageDiplomas {
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
  flex: 1 1;
  max-width: 85px;
  height: auto;
  max-height: 85px;
}
.readMoreLink {
  color: blue;
  text-decoration: underline;
}
.content_block {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 18px;
  margin-bottom: 18px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  opacity: 0; /* Начальная прозрачность */
  animation: fadeIn 0.6s forwards; /* Анимация появления */
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.contBackM {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.backImg {
  display: none;
}
.dsplBlcM {
  display: none;
}

.scrollContainer {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch; /* для iOS инерции */
  scrollbar-width: none; /* Firefox */
}

.scrollContainer::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
.flxClmn {
  flex-direction: row;
}
/* Адаптивные стили под разрешения экранов */

/* ******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
******************************************************
****************************************************** */

/* ******************************************************
******************************************************
******************************************************
                        1280px
******************************************************
******************************************************
****************************************************** */

@media (max-width: 1280px) {
}
/* ******************************************************
******************************************************
******************************************************
                        1024px
******************************************************
******************************************************
****************************************************** */
@media (max-width: 1024px) {
  .onlineStatus {
    display: none;
  }
}
/* ******************************************************
******************************************************
******************************************************
                        768px
******************************************************
******************************************************
****************************************************** */
@media (max-width: 768px) {
  .contBackM {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }
  .backImg {
    display: block;
    height: 32px;
  }
  .content_block {
    opacity: initial; /* Начальная прозрачность */
    animation: none; /* Анимация появления */
  }
  .imageDiplomas {
    border-radius: 0px;
    flex: 0 0 auto;
  }
}
/* ******************************************************
******************************************************
******************************************************
                        668px
******************************************************
******************************************************
****************************************************** */
@media (max-width: 668px) {
}
/* ******************************************************
******************************************************
******************************************************
                        560px
******************************************************
******************************************************
****************************************************** */
@media (max-width: 660px) {
}
/* ******************************************************
******************************************************
******************************************************
                        480px
******************************************************
******************************************************
****************************************************** */
@media (max-width: 480px) {
  .isOnlineTxt {
    display: none;
  }
  .tutorImgFioContainerTP {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  .tutorImgFioContainer {
    gap: 12px;
  }
  .flxClmn {
    flex-direction: column;
  }
  .tutorImgM {
    width: 180px;
    height: 180px;
  }
  .titleTutorInfo {
    font-size: 17px;
    font-weight: 700;
  }
  .order_gap {
    gap: 14px;
  }
  .gap10 {
    gap: 3px;
  }
  .imageDiplomas {
    border-radius: 0px;
  }
  .dsplNoneM {
    display: none;
  }
  .dsplBlcM {
    display: flex;
    align-self: anchor-center;
  }

  .tutorImgFioContainer {
    align-items: center;
  }
  .order_gap {
    flex-direction: column;
    align-items: stretch;
  }
  .jtfCntSpBtwn {
    justify-content: center;
  }
  .containerIsOnline {
    justify-content: center;
    text-align: center;
  }
}
/* ******************************************************
******************************************************
******************************************************
                        340px
******************************************************
******************************************************
****************************************************** */
@media (max-width: 340px) {
}
